files:
  # Bundle logs: included when requesting full logs from EB console / CLI
  "/opt/elasticbeanstalk/tasks/bundlelogs.d/sidekiq.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      /var/app/current/log/sidekiq.log

  # Tail logs: included when requesting last 100 lines from EB console / CLI
  "/opt/elasticbeanstalk/tasks/taillogs.d/sidekiq.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      /var/app/current/log/sidekiq.log
