commands:
  01_copy_sidekiq_service:
    command: |
      cp .platform/files/sidekiq.service /etc/systemd/system/sidekiq.service
      chmod 644 /etc/systemd/system/sidekiq.service
    test: "[ -f .platform/files/sidekiq.service ]"
  
  02_reload_systemd:
    command: systemctl daemon-reload
  
  03_enable_sidekiq:
    command: systemctl enable sidekiq
