<footer class="site-footer">
  <div class="container">
    <div class="footer-cols">
      <div>
        <h4>thin.ly</h4>
        <p>Short links, QR codes and analytics for marketers, creators and developers.</p>
      </div>
      <div>
        <h4>Product</h4>
        <ul>
          <li><a href="/features">Features</a></li>
          <li><a href="/plans">Plans</a></li>
          <li><a href="/resources">Resources</a></li>
          <li><a href="/blog/">Blog</a></li>
        </ul>
      </div>
      <div>
        <h4>Company</h4>
        <ul>
          <li><a href="/about">About</a></li>
          <li><a href="/contact_us">Contact</a></li>
        </ul>
      </div>
      <div>
        <h4>Legal</h4>
        <ul>
          <li><a href="/terms">Terms</a></li>
          <li><a href="/privacy_policy">Privacy</a></li>
          <li><a href="/cookie_policy">Cookies</a></li>
          <li><a href="/user_policy">User policy</a></li>
        </ul>
      </div>
    </div>
    <p class="footer-bottom">&copy; {{ site.time | date: "%Y" }} thin.ly. All rights reserved.</p>
  </div>
</footer>
